{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            height: 100vh;
            background-color: #f0f2f5;
        }

        .container {
            text-align: center;
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        }

        .btn {
            margin: 5px;
            padding: 10px 20px;
        }
    </style>

    <div class="container">
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashError }}
            </div>
        {% endfor %}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <h1>Verify yourself</h1>
            <a href="{{ path('app_register') }}" class="btn btn-primary">Register</a>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if app.user %}
                <h1>Welcome to the homepage {{ app.user.email }}</h1>
            {% endif %}
            {% if app.user.isTotpAuthenticationEnabled() %}
                <a href="{{ path('app_2fa_disable') }}" class="btn btn-danger">Disable 2FA</a>
            {% else %}
                <a href="{{ path('app_2fa_enable') }}" class="btn btn-primary">Enable 2FA</a>
            {% endif %}
            <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
        {% endif %}
    </div>
{% endblock %}
